VITE_API_URL=https://api.example.com
VITE_API_DEVELOPMENT_URL=https://api-development.example.com
VITE_API_PRODUCTION_URL=https://api.example.com
VITE_ENV=development
VITE_GEOAPIFY_API_KEY=your_geoapify_api_key_here
